openapi: 3.2.0
info:
  title: Postiz Analytics API
  version: '1.0'
  description: 'Operations tagged Analytics across 2 of this provider''s published API definitions: postiz-platform-swagger-openapi.json, postiz-public-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.postiz.com/public/v1
  description: Postiz Cloud
- url: https://{your-domain}/api/public/v1
  description: Self-hosted
  variables:
    your-domain:
      default: localhost:5000
      description: Your Postiz instance domain
tags:
- name: Analytics
paths:
  /analytics/{integration}:
    get:
      operationId: AnalyticsController_getIntegration
      parameters:
      - name: integration
        required: true
        in: path
        schema:
          type: string
      - name: date
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Analytics
      summary: Analytics controller get integration
      x-summary-source: derived
  /analytics/post/{postId}:
    get:
      operationId: AnalyticsController_getPostAnalytics
      parameters:
      - name: postId
        required: true
        in: path
        schema:
          type: string
      - name: date
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Analytics
      summary: Analytics controller get post analytics
      x-summary-source: derived
components:
  schemas:
    AnalyticsData:
      type: object
      properties:
        label:
          type: string
          description: Metric label (e.g. Followers, Impressions, Likes)
        data:
          type: array
          items:
            type: object
            properties:
              total:
                type: string
                description: Metric value for this date
              date:
                type: string
                description: Date string (YYYY-MM-DD)
        percentageChange:
          type: number
          description: Percentage change over the selected period
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Your Postiz API key
x-refined-from:
- postiz-platform-swagger-openapi.json
- postiz-public-api-openapi.json
