openapi: 3.2.0
info:
  title: Postiz Posts API
  version: '1.0'
  description: 'Operations tagged Posts across 2 of this provider''s published API definitions: postiz-platform-swagger-openapi.json, postiz-public-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.postiz.com/public/v1
  description: Postiz Cloud
- url: https://{your-domain}/api/public/v1
  description: Self-hosted
  variables:
    your-domain:
      default: localhost:5000
      description: Your Postiz instance domain
tags:
- name: Posts
paths:
  /posts/{id}/statistics:
    get:
      operationId: PostsController_getStatistics
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller get statistics
      x-summary-source: derived
  /posts/{id}/missing:
    get:
      operationId: PostsController_getMissingContent
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller get missing content
      x-summary-source: derived
  /posts/{id}/release-id:
    put:
      operationId: PostsController_updateReleaseId
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller update release id
      x-summary-source: derived
  /posts/should-shortlink:
    post:
      operationId: PostsController_shouldShortlink
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - Posts
      summary: Posts controller should shortlink
      x-summary-source: derived
  /posts/{id}/comments:
    post:
      operationId: PostsController_createComment
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '201':
          description: ''
      tags:
      - Posts
      summary: Posts controller create comment
      x-summary-source: derived
  /posts/tags:
    get:
      operationId: PostsController_getTags
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller get tags
      x-summary-source: derived
    post:
      operationId: PostsController_createTag
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagDto'
      responses:
        '201':
          description: ''
      tags:
      - Posts
      summary: Posts controller create tag
      x-summary-source: derived
  /posts/tags/{id}:
    put:
      operationId: PostsController_editTag
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagDto'
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller edit tag
      x-summary-source: derived
    delete:
      operationId: PostsController_deleteTag
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller delete tag
      x-summary-source: derived
  /posts:
    get:
      operationId: PostsController_getPosts
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller get posts
      x-summary-source: derived
    post:
      operationId: PostsController_createPost
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - Posts
      summary: Posts controller create post
      x-summary-source: derived
  /posts/find-slot:
    get:
      operationId: PostsController_findSlot
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller find slot
      x-summary-source: derived
  /posts/find-slot/{id}:
    get:
      operationId: PostsController_findSlotIntegration
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller find slot integration
      x-summary-source: derived
  /posts/list:
    get:
      operationId: PostsController_getPostsList
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller get posts list
      x-summary-source: derived
  /posts/old:
    get:
      operationId: PostsController_oldPosts
      parameters:
      - name: date
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller old posts
      x-summary-source: derived
  /posts/group/{group}/debug-export:
    get:
      operationId: PostsController_getPostGroupDebugExport
      parameters:
      - name: group
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller get post group debug export
      x-summary-source: derived
  /posts/group/{group}:
    get:
      operationId: PostsController_getPostsByGroup
      parameters:
      - name: group
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller get posts by group
      x-summary-source: derived
    delete:
      tags:
      - Posts
      summary: Delete a post by group
      description: Delete all posts in a group by the group identifier.
      operationId: deletePostByGroup
      parameters:
      - name: group
        in: path
        required: true
        description: Group identifier to delete
        schema:
          type: string
      responses:
        '200':
          description: Posts deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: deleted-group-id
  /posts/{id}:
    get:
      operationId: PostsController_getPost
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller get post
      x-summary-source: derived
    delete:
      tags:
      - Posts
      summary: Delete a post by ID
      description: Delete a post by its ID. The API will look up the post and delete all posts in the same group.
      operationId: deletePost
      parameters:
      - name: id
        in: path
        required: true
        description: Post ID to delete
        schema:
          type: string
      responses:
        '200':
          description: Post deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: deleted-post-id
  /posts/valid:
    post:
      operationId: PostsController_validatePosts
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - Posts
      summary: Posts controller validate posts
      x-summary-source: derived
  /posts/generator/draft:
    post:
      operationId: PostsController_generatePostsDraft
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGeneratedPostsDto'
      responses:
        '201':
          description: ''
      tags:
      - Posts
      summary: Posts controller generate posts draft
      x-summary-source: derived
  /posts/generator:
    post:
      operationId: PostsController_generatePosts
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratorDto'
      responses:
        '201':
          description: ''
      tags:
      - Posts
      summary: Posts controller generate posts
      x-summary-source: derived
  /posts/{group}:
    delete:
      operationId: PostsController_deletePost
      parameters:
      - name: group
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller delete post
      x-summary-source: derived
  /posts/{id}/date:
    put:
      operationId: PostsController_changeDate
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Posts
      summary: Posts controller change date
      x-summary-source: derived
  /posts/separate-posts:
    post:
      operationId: PostsController_separatePosts
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - Posts
      summary: Posts controller separate posts
      x-summary-source: derived
  /posts/{id}/status:
    put:
      tags:
      - Posts
      summary: Change post status
      description: 'Moves a post between `draft` and `schedule` state.


        - `schedule` → sets the post state to `QUEUE` and (re)starts the publishing workflow so it will be published at its stored date.

        - `draft` → sets the post state to `DRAFT` and terminates any currently running publishing workflow for the post, so it will not be published.


        The post keeps its stored date; only the state (and the workflow) changes.'
      operationId: changePostStatus
      parameters:
      - name: id
        in: path
        required: true
        description: Post ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  enum:
                  - draft
                  - schedule
                  description: New status for the post
            example:
              status: schedule
      responses:
        '200':
          description: Post status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  state:
                    type: string
                    enum:
                    - DRAFT
                    - QUEUE
              example:
                id: post-123
                state: QUEUE
        '400':
          description: Invalid status or post not found
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://api.postiz.com/public/v1
      description: Postiz Cloud
    - url: https://{your-domain}/api/public/v1
      description: Self-hosted
      variables:
        your-domain:
          default: localhost:5000
          description: Your Postiz instance domain
  /posts/{id}/settings:
    put:
      tags:
      - Posts
      summary: Update post settings
      description: Merges the given keys into the post's existing provider settings. Only the keys you pass are changed; content and publish date are untouched, so a running publishing workflow is not restarted. The merged settings are re-validated. Works only on not-yet-published posts (scheduled or draft).
      operationId: updatePostSettings
      parameters:
      - name: id
        in: path
        required: true
        description: Post ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - settings
              properties:
                settings:
                  type: object
                  additionalProperties: true
                  description: Provider settings to merge into the post's existing settings. Only the keys you pass are changed; everything else stays. Keys depend on the channel's platform.
            example:
              settings:
                content_posting_method: DIRECT_POST
      responses:
        '200':
          description: Post settings updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  postId:
                    type: string
                  publishDate:
                    type: string
              example:
                postId: post-123
                publishDate: '2026-08-01T10:00:00'
        '400':
          description: The id belongs to a comment (pass the root post id), the post is already published or its publish time passed, or the merged settings failed validation
        '404':
          description: Post not found
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://api.postiz.com/public/v1
      description: Postiz Cloud
    - url: https://{your-domain}/api/public/v1
      description: Self-hosted
      variables:
        your-domain:
          default: localhost:5000
          description: Your Postiz instance domain
components:
  schemas:
    GeneratorDto:
      type: object
      properties: {}
    CreateGeneratedPostsDto:
      type: object
      properties: {}
    CreateTagDto:
      type: object
      properties: {}
    LemmySettings:
      title: Lemmy
      type: object
      required:
      - __type
      - subreddit
      description: Lemmy uses 'subreddit' for communities (historical naming)
      properties:
        __type:
          type: string
          enum:
          - lemmy
        subreddit:
          type: array
          minItems: 1
          items:
            type: object
            properties:
              value:
                type: object
                required:
                - subreddit
                - id
                - title
                properties:
                  subreddit:
                    type: string
                    minLength: 2
                    description: Community name
                  id:
                    type: string
                    description: Community ID
                  title:
                    type: string
                    minLength: 2
                    description: Post title
                  url:
                    type: string
                    format: uri
                    description: Optional URL
    InstagramSettings:
      title: Instagram
      type: object
      required:
      - __type
      - post_type
      properties:
        __type:
          type: string
          enum:
          - instagram
          - instagram-standalone
          description: Use 'instagram' for FB-linked, 'instagram-standalone' for standalone
        post_type:
          type: string
          enum:
          - post
          - story
          description: Type of Instagram post
        is_trial_reel:
          type: boolean
          description: Whether to post as a trial reel
        graduation_strategy:
          type: string
          enum:
          - MANUAL
          - SS_PERFORMANCE
          description: Graduation strategy for trial reels
        collaborators:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
                description: Collaborator username
    WarpcastSettings:
      title: Warpcast
      type: object
      required:
      - __type
      description: Warpcast (Farcaster) post settings
      properties:
        __type:
          type: string
          enum:
          - warpcast
        subreddit:
          type: array
          description: Farcaster channels to post to
          items:
            type: object
            properties:
              value:
                type: object
                required:
                - id
                properties:
                  id:
                    type: string
                    description: Channel ID
    PostContent:
      type: object
      required:
      - content
      properties:
        content:
          type: string
          description: Post text content
        id:
          type: string
          description: Post ID (for updates)
        image:
          type: array
          items:
            $ref: '#/components/schemas/Media'
    LinkedInSettings:
      title: LinkedIn
      type: object
      required:
      - __type
      properties:
        __type:
          type: string
          enum:
          - linkedin
          - linkedin-page
          description: Use 'linkedin' for profiles, 'linkedin-page' for company pages
        post_as_images_carousel:
          type: boolean
          description: Display multiple images as a carousel
        carousel_name:
          type: string
          description: Name for the carousel document
    HashnodeSettings:
      title: Hashnode
      type: object
      required:
      - __type
      - title
      - tags
      properties:
        __type:
          type: string
          enum:
          - hashnode
        title:
          type: string
          minLength: 6
          description: Article title
        subtitle:
          type: string
          minLength: 2
          description: Article subtitle
        main_image:
          $ref: '#/components/schemas/Media'
          description: Cover image
        canonical:
          type: string
          format: uri
          description: Original URL for SEO
        publication:
          type: string
          description: Publication ID (required)
        tags:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Tag'
    YouTubeSettings:
      title: YouTube
      type: object
      required:
      - __type
      - title
      - type
      properties:
        __type:
          type: string
          enum:
          - youtube
        title:
          type: string
          minLength: 2
          maxLength: 100
          description: Video title
        type:
          type: string
          enum:
          - public
          - private
          - unlisted
          description: Video visibility
        selfDeclaredMadeForKids:
          type: string
          enum:
          - 'yes'
          - 'no'
          description: Made for kids declaration
        thumbnail:
          $ref: '#/components/schemas/Media'
          description: Custom thumbnail
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    SkoolSettings:
      title: Skool
      type: object
      required:
      - __type
      - group
      - label
      - title
      description: Skool post settings
      properties:
        __type:
          type: string
          enum:
          - skool
        group:
          type: string
          minLength: 1
          description: Group ID
        label:
          type: string
          minLength: 1
          description: Label/category ID
        title:
          type: string
          minLength: 1
          description: Post title
    MediumSettings:
      title: Medium
      type: object
      required:
      - __type
      - title
      - subtitle
      properties:
        __type:
          type: string
          enum:
          - medium
        title:
          type: string
          minLength: 2
          description: Article title
        subtitle:
          type: string
          minLength: 2
          description: Article subtitle
        canonical:
          type: string
          format: uri
          description: Original URL for SEO
        publication:
          type: string
          description: Publication ID to post to
        tags:
          type: array
          maxItems: 4
          items:
            $ref: '#/components/schemas/Tag'
    TwitchSettings:
      title: Twitch
      type: object
      required:
      - __type
      description: Twitch post settings
      properties:
        __type:
          type: string
          enum:
          - twitch
        messageType:
          type: string
          enum:
          - message
          - announcement
          description: Message type
        announcementColor:
          type: string
          enum:
          - primary
          - blue
          - green
          - orange
          - purple
          description: Announcement color (only for announcement type)
    XSettings:
      title: X (Twitter)
      type: object
      required:
      - __type
      - who_can_reply_post
      properties:
        __type:
          type: string
          enum:
          - x
          description: Must be 'x'
        who_can_reply_post:
          type: string
          enum:
          - everyone
          - following
          - mentionedUsers
          - subscribers
          - verified
          description: Who can reply to the post
        community:
          type: string
          description: 'X Community URL (format: https://x.com/i/communities/123)'
    PostItem:
      type: object
      required:
      - integration
      - value
      properties:
        integration:
          type: object
          required:
          - id
          properties:
            id:
              type: string
              description: Integration ID
        value:
          type: array
          items:
            $ref: '#/components/schemas/PostContent'
        group:
          type: string
          description: Group ID for related posts
        settings:
          oneOf:
          - $ref: '#/components/schemas/XSettings'
          - $ref: '#/components/schemas/LinkedInSettings'
          - $ref: '#/components/schemas/InstagramSettings'
          - $ref: '#/components/schemas/FacebookSettings'
          - $ref: '#/components/schemas/YouTubeSettings'
          - $ref: '#/components/schemas/TikTokSettings'
          - $ref: '#/components/schemas/RedditSettings'
          - $ref: '#/components/schemas/LemmySettings'
          - $ref: '#/components/schemas/PinterestSettings'
          - $ref: '#/components/schemas/DiscordSettings'
          - $ref: '#/components/schemas/SlackSettings'
          - $ref: '#/components/schemas/TwitchSettings'
          - $ref: '#/components/schemas/DribbbleSettings'
          - $ref: '#/components/schemas/MediumSettings'
          - $ref: '#/components/schemas/DevToSettings'
          - $ref: '#/components/schemas/HashnodeSettings'
          - $ref: '#/components/schemas/WordpressSettings'
          - $ref: '#/components/schemas/ListmonkSettings'
          - $ref: '#/components/schemas/GmbSettings'
          - $ref: '#/components/schemas/WarpcastSettings'
          - $ref: '#/components/schemas/MoltbookSettings'
          - $ref: '#/components/schemas/SkoolSettings'
          - $ref: '#/components/schemas/WhopSettings'
          - $ref: '#/components/schemas/EmptySettings'
          description: Provider-specific settings
    MoltbookSettings:
      title: Moltbook
      type: object
      required:
      - __type
      - submolt
      description: Moltbook post settings
      properties:
        __type:
          type: string
          enum:
          - moltbook
        submolt:
          type: string
          minLength: 1
          description: Submolt (community) ID
    MissingContentItem:
      type: object
      properties:
        id:
          type: string
          description: Platform-specific content ID
        url:
          type: string
          description: Thumbnail or preview URL for the content
    PinterestSettings:
      title: Pinterest
      type: object
      required:
      - __type
      - board
      properties:
        __type:
          type: string
          enum:
          - pinterest
        board:
          type: string
          minLength: 1
          description: Board ID
        title:
          type: string
          maxLength: 100
        link:
          type: string
          format: uri
        dominant_color:
          type: string
    RedditSettings:
      title: Reddit
      type: object
      required:
      - __type
      - subreddit
      properties:
        __type:
          type: string
          enum:
          - reddit
        subreddit:
          type: array
          minItems: 1
          items:
            type: object
            properties:
              value:
                type: object
                required:
                - subreddit
                - title
                - type
                - is_flair_required
                properties:
                  subreddit:
                    type: string
                    minLength: 2
                    description: Subreddit name without r/
                  title:
                    type: string
                    minLength: 2
                    description: Post title
                  type:
                    type: string
                    enum:
                    - self
                    - link
                    - image
                    - video
                    description: Post type
                  url:
                    type: string
                    description: URL for link posts
                  is_flair_required:
                    type: boolean
                  flair:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
    Post:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        settings:
          type: object
          additionalProperties: true
          description: The post's current provider-specific settings (the same shape used when creating the post). Keys depend on the channel's platform.
          example:
            content_posting_method: DIRECT_POST
        publishDate:
          type: string
          format: date-time
        releaseURL:
          type: string
          description: URL of the published post
        state:
          type: string
          enum:
          - QUEUE
          - PUBLISHED
          - ERROR
          - DRAFT
        integration:
          type: object
          properties:
            id:
              type: string
            providerIdentifier:
              type: string
            name:
              type: string
            picture:
              type: string
    Media:
      type: object
      required:
      - id
      - path
      properties:
        id:
          type: string
        path:
          type: string
    DribbbleSettings:
      title: Dribbble
      type: object
      required:
      - __type
      - title
      properties:
        __type:
          type: string
          enum:
          - dribbble
        title:
          type: string
          minLength: 1
          description: Shot title
        team:
          type: string
          format: uri
          description: Team URL
    SlackSettings:
      title: Slack
      type: object
      required:
      - __type
      - channel
      properties:
        __type:
          type: string
          enum:
          - slack
        channel:
          type: string
          minLength: 1
          description: Slack channel ID
    GmbSettings:
      title: Google My Business
      type: object
      required:
      - __type
      description: Google My Business post settings
      properties:
        __type:
          type: string
          enum:
          - gmb
        topicType:
          type: string
          enum:
          - STANDARD
          - EVENT
          - OFFER
          description: Post type
        callToActionType:
          type: string
          enum:
          - NONE
          - BOOK
          - ORDER
          - SHOP
          - LEARN_MORE
          - SIGN_UP
          - GET_OFFER
          - CALL
          description: Call-to-action button
        callToActionUrl:
          type: string
          format: uri
          description: URL for CTA (required if callToActionType is set)
        eventTitle:
          type: string
          description: Event title (required for EVENT type)
        eventStartDate:
          type: string
          description: Event start date
        eventEndDate:
          type: string
          description: Event end date
        eventStartTime:
          type: string
          description: Event start time
        eventEndTime:
          type: string
          description: Event end time
        offerCouponCode:
          type: string
          description: Coupon code (for OFFER type)
        offerRedeemUrl:
          type: string
          format: uri
          description: Redemption URL
        offerTerms:
          type: string
          description: Offer terms and conditions
    EmptySettings:
      title: Other Platforms (Threads, Mastodon, Bluesky, etc.)
      type: object
      required:
      - __type
      description: For platforms that don't require additional settings
      properties:
        __type:
          type: string
          enum:
          - threads
          - mastodon
          - bluesky
          - telegram
          - nostr
          - vk
          - kick
          description: Platform identifier
    WordpressSettings:
      title: WordPress
      type: object
      required:
      - __type
      - title
      - type
      properties:
        __type:
          type: string
          enum:
          - wordpress
        title:
          type: string
          minLength: 2
          description: Post title
        main_image:
          $ref: '#/components/schemas/Media'
          description: Featured image
        type:
          type: string
          description: Post type (depends on WordPress setup)
    TikTokSettings:
      title: TikTok
      type: object
      required:
      - __type
      - privacy_level
      - duet
      - stitch
      - comment
      - autoAddMusic
      - brand_content_toggle
      - brand_organic_toggle
      - content_posting_method
      properties:
        __type:
          type: string
          enum:
          - tiktok
        title:
          type: string
          maxLength: 90
          description: Used as the title of the post. The only setting TikTok keeps when content_posting_method=UPLOAD.
        privacy_level:
          type: string
          enum:
          - PUBLIC_TO_EVERYONE
          - MUTUAL_FOLLOW_FRIENDS
          - FOLLOWER_OF_CREATOR
          - SELF_ONLY
          description: Applied only when content_posting_method=DIRECT_POST. Ignored by TikTok on UPLOAD.
        duet:
          type: boolean
          description: Video posts only, and only when content_posting_method=DIRECT_POST. TikTok has no duet setting for photo posts.
        stitch:
          type: boolean
          description: Video posts only, and only when content_posting_method=DIRECT_POST. TikTok has no stitch setting for photo posts.
        comment:
          type: boolean
          description: Applied only when content_posting_method=DIRECT_POST. Ignored by TikTok on UPLOAD.
        autoAddMusic:
          type: string
          enum:
          - 'yes'
          - 'no'
          description: Photo posts only, and only when content_posting_method=DIRECT_POST. Ignored by TikTok on UPLOAD.
        brand_content_toggle:
          type: boolean
          description: Applied only when content_posting_method=DIRECT_POST. Ignored by TikTok on UPLOAD.
        brand_organic_toggle:
          type: boolean
          description: Applied only when content_posting_method=DIRECT_POST. Ignored by TikTok on UPLOAD.
        video_made_with_ai:
          type: boolean
          description: Labels the post as AI generated. Video posts only, and only when content_posting_method=DIRECT_POST. TikTok has no AI-generated label for photo posts, and discards it on UPLOAD.
        content_posting_method:
          type: string
          enum:
          - DIRECT_POST
          - UPLOAD
          description: 'Required. Use "DIRECT_POST" to actually publish the post to TikTok. "UPLOAD" does NOT publish: it only sends the media to the user''s TikTok app inbox, where they must manually finish and publish it within 24 hours or it is discarded. Only use "UPLOAD" when the user explicitly asks to review or edit the post inside the TikTok app before publishing. "UPLOAD" also makes TikTok ignore every other setting in this object except the title.'
    FacebookSettings:
      title: Facebook
      type: object
      required:
      - __type
      description: Facebook post settings
      properties:
        __type:
          type: string
          enum:
          - facebook
        url:
          type: string
          format: uri
          description: Optional link URL to include in the post
    WhopSettings:
      title: Whop
      type: object
      required:
      - __type
      - company
      - experience
      description: Whop post settings
      properties:
        __type:
          type: string
          enum:
          - whop
        company:
          type: string
          minLength: 1
          description: Company ID
        experience:
          type: string
          minLength: 1
          description: Experience/forum ID
        title:
          type: string
          description: Post title
    ListmonkSettings:
      title: Listmonk
      type: object
      required:
      - __type
      - subject
      - preview
      - list
      properties:
        __type:
          type: string
          enum:
          - listmonk
        subject:
          type: string
          minLength: 1
          description: Email subject line
        preview:
          type: string
          description: Email preview text
        list:
          type: string
          description: List ID to send to
        template:
          type: string
          description: Template ID (optional)
    CreatePostRequest:
      type: object
      required:
      - type
      - date
      - shortLink
      - tags
      properties:
        type:
          type: string
          enum:
          - draft
          - schedule
          - now
          description: Post type
        date:
          type: string
          format: date-time
          description: Publish date in UTC ISO format
        shortLink:
          type: boolean
          description: Whether to use short links
        order:
          type: string
          description: Order of posts
        inter:
          type: number
          description: Interval between posts
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        posts:
          type: array
          items:
            $ref: '#/components/schemas/PostItem'
          description: Required if type is not 'draft'
    DiscordSettings:
      title: Discord
      type: object
      required:
      - __type
      - channel
      properties:
        __type:
          type: string
          enum:
          - discord
        channel:
          type: string
          minLength: 1
          description: Discord channel ID
    PostsResponse:
      type: object
      properties:
        posts:
          type: array
          items:
            $ref: '#/components/schemas/Post'
    Tag:
      type: object
      required:
      - value
      - label
      properties:
        value:
          type: string
        label:
          type: string
    DevToSettings:
      title: Dev.to
      type: object
      required:
      - __type
      - title
      properties:
        __type:
          type: string
          enum:
          - devto
        title:
          type: string
          minLength: 2
          description: Article title
        main_image:
          $ref: '#/components/schemas/Media'
          description: Cover image
        canonical:
          type: string
          format: uri
          description: Original URL for SEO
        organization:
          type: string
          description: Organization ID
        tags:
          type: array
          maxItems: 4
          items:
            $ref: '#/components/schemas/Tag'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Your Postiz API key
x-refined-from:
- postiz-platform-swagger-openapi.json
- postiz-public-api-openapi.json
