openapi: 3.2.0
info:
  title: Postiz Notifications API
  version: '1.0'
  description: 'Operations tagged Notifications across 2 of this provider''s published API definitions: postiz-platform-swagger-openapi.json, postiz-public-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.postiz.com/public/v1
  description: Postiz Cloud
- url: https://{your-domain}/api/public/v1
  description: Self-hosted
  variables:
    your-domain:
      default: localhost:5000
      description: Your Postiz instance domain
tags:
- name: Notifications
paths:
  /notifications:
    get:
      operationId: NotificationsController_mainPageList
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Notifications
      summary: Notifications controller main page list
      x-summary-source: derived
  /notifications/list:
    get:
      operationId: NotificationsController_notifications
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Notifications
      summary: Notifications controller notifications
      x-summary-source: derived
components:
  schemas:
    NotificationsResponse:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        total:
          type: integer
          description: Total number of notifications
        page:
          type: integer
          description: Current page number (0-indexed)
        limit:
          type: integer
          description: Number of notifications per page (always 100)
        hasMore:
          type: boolean
          description: Whether there are more pages available
    Notification:
      type: object
      properties:
        id:
          type: string
          description: Unique notification ID
        content:
          type: string
          description: Notification message
        link:
          type: string
          nullable: true
          description: Optional link associated with the notification
        createdAt:
          type: string
          format: date-time
          description: When the notification was created
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Your Postiz API key
x-refined-from:
- postiz-platform-swagger-openapi.json
- postiz-public-api-openapi.json
